body {
    margin: 0;
    padding: 0; 
}
.header-bar{
    width: 100%; 
    height: 70px; 
    border: 1px solid black; 
    background-color: rgb(6, 54, 106); 
}
.header-bar h3{
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
}
.background {
    background: linear-gradient(180deg,
                       rgba(0,0,0,0.3) 50%,
                       rgba(0,0,0,0.3) 100%),
                        url("img/sign-in.jpg") fixed;
    background: black ;
    width: 100%; 
    overflow: hidden;
    background-size:cover;
    height: 100vh; 
    border: 1px solid black; 
}




.sign-in-wrap {
    width: 385px; 
    height: 430px; 
    margin: 300px auto; 
    background-color: white;
    border-radius: 3px solid black;
}
.sign-in-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    top: 35px; 
    left: 135px;
    font-size: 35px;
    position:relative;
}
.email-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    position: relative;
    top: 30px; 
    left: 30px;
}
.input-one {
    left: 30px;
    position: relative; 
    top: 20px; 
    width: 325px; 
    height: 35px; 
    border: 0px solid;
    background-color: rgb(224, 240, 255);
    border-radius: 3px;
    box-shadow:inset;
}
.input-one:hover{
    position: relative; 
    background-color: rgb(231, 244, 255);
    box-shadow:inset;
}
.password-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    position: relative;
    top: 20px; /*this was moved 25px up*/
    left: 30px;
}
.input-two {
    left: 30px;
    top:10px;
    position: relative; 
    bottom: 410px; 
    width: 325px; 
    height: 35px; 
    border: 0px solid;
    background-color: rgb(224, 240, 255);
    border-radius: 3px;
    box-shadow:inset;
}
.input-two:hover {
    background-color: rgb(231, 244, 255);
}
#show-password {
    position: relative;
    top: 13.5px;
    font-size: 20px; 
    right: 33px; 
    color: rgb(184, 183, 183) ;
    cursor: pointer;
}
.remember { 
    position: relative;
    top: 70px; 
    left: 90px;
}
.checkbox {
    height: 17px;
    width: 17px; 
    right: 482px;
    bottom: 134px;
    position: absolute;
}
.remember-text {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -40px; 
    left: -35px;
}
.forgot-text .forgot-tex {
    right: -30px; 
    position: relative;
    top: -40px; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.forgot-tex {
    color: rgb(75, 75, 244); 
}
.btn { 
    position: relative; 
    bottom: -50px; 
    left: 30px;
    height: 35px; 
    width: 325px; 
    background-color: rgb(77, 137, 234);
    border: 0px;
    border-radius: 2px;
    color: white; 
    font-size: 15px;
}
.btn:hover { 
    position: relative; 
    cursor: pointer;
    background-color: rgb(104, 157, 242);
    color: white; 
}
.sign-up-wrap {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 75px; 
    left: 70px; 
}
.sign-text {
    position: absolute;
    left: 175px; 
    text-decoration: none;
}